<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.cms.help.mapper.CmsHelpMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.cms.help.bean.CmsHelp">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="showStatus" column="show_status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="readCount" column="read_count" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,category_id,icon,
        title,show_status,create_time,
        read_count,content
    </sql>

</mapper>
