<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.cms.prefrence.mapper.CmsPrefrenceAreaMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.cms.prefrence.bean.CmsPrefrenceArea">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="subTitle" column="sub_title" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="showStatus" column="show_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseColumn">
        id,name,sub_title,
        sort,show_status,pic
    </sql>

</mapper>
