<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.cms.prefrence.mapper.CmsPrefrenceAreaProductRelationMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.cms.prefrence.bean.CmsPrefrenceAreaProductRelation">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="prefrenceAreaId" column="prefrence_area_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseColumn">
        id,prefrence_area_id,product_id
    </sql>

</mapper>
