<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.oms.company.mapper.OmsCompanyAddressMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.oms.company.bean.OmsCompanyAddress">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="addressName" column="address_name" jdbcType="VARCHAR"/>
        <result property="sendStatus" column="send_status" jdbcType="INTEGER"/>
        <result property="receiveStatus" column="receive_status" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="region" column="region" jdbcType="VARCHAR"/>
        <result property="detailAddress" column="detail_address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,address_name,send_status,
        receive_status,name,phone,
        province,city,region,
        detail_address
    </sql>

</mapper>
