<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.pms.member.mapper.PmsMemberPriceMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.pms.member.bean.PmsMemberPrice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="memberLevelId" column="member_level_id" jdbcType="BIGINT"/>
            <result property="memberPrice" column="member_price" jdbcType="DECIMAL"/>
            <result property="memberLevelName" column="member_level_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,product_id,member_level_id,
        member_price,member_level_name
    </sql>

</mapper>
