<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.pms.sku.mapper.PmsSkuStockMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.pms.sku.bean.PmsSkuStock">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="lowStock" column="low_stock" jdbcType="INTEGER"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="sale" column="sale" jdbcType="INTEGER"/>
            <result property="promotionPrice" column="promotion_price" jdbcType="DECIMAL"/>
            <result property="lockStock" column="lock_stock" jdbcType="INTEGER"/>
            <result property="spData" column="sp_data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,product_id,sku_code,
        price,stock,low_stock,
        pic,sale,promotion_price,
        lock_stock,sp_data
    </sql>

</mapper>
