<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.sms.coupon.mapper.SmsCouponHistoryMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.sms.coupon.bean.SmsCouponHistory">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
        <result property="memberId" column="member_id" jdbcType="BIGINT"/>
        <result property="couponCode" column="coupon_code" jdbcType="VARCHAR"/>
        <result property="memberNickname" column="member_nickname" jdbcType="VARCHAR"/>
        <result property="getType" column="get_type" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="useStatus" column="use_status" jdbcType="INTEGER"/>
        <result property="useTime" column="use_time" jdbcType="TIMESTAMP"/>
        <result property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="orderSn" column="order_sn" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,coupon_id,member_id,
        coupon_code,member_nickname,get_type,
        create_time,use_status,use_time,
        order_id,order_sn
    </sql>

</mapper>
