<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.sms.home.mapper.SmsHomeBrandMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.sms.home.bean.SmsHomeBrand">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="brandId" column="brand_id" jdbcType="BIGINT"/>
        <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
        <result property="recommendStatus" column="recommend_status" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseColumn">
        id,brand_id,brand_name,
        recommend_status,sort
    </sql>

</mapper>
