<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.sms.home.mapper.SmsHomeRecommendSubjectMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.sms.home.bean.SmsHomeRecommendSubject">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="subjectId" column="subject_id" jdbcType="BIGINT"/>
        <result property="subjectName" column="subject_name" jdbcType="VARCHAR"/>
        <result property="recommendStatus" column="recommend_status" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseColumn">
        id,subject_id,subject_name,
        recommend_status,sort
    </sql>

</mapper>
