<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.ums.member.mapper.UmsMemberProductCategoryRelationMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.ums.member.bean.UmsMemberProductCategoryRelation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="productCategoryId" column="product_category_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseColumn">
        id,member_id,product_category_id
    </sql>

</mapper>
