<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.ums.role.mapper.UmsRoleResourceRelationMapper">

    <resultMap id="baseResultMap" type="com.rystars.mall.admin.ums.role.bean.UmsRoleResourceRelation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="resourceId" column="resource_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseColumn">
        id,role_id,resource_id
    </sql>

</mapper>
