<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rystars.mall.admin.pms.product_category.mapper.PmsProductCategoryMapper">

    <select id="selectAll" resultType="PmsProductCategory">
        SELECT *
        FROM PMS_PRODUCT_CATEGORY;
    </select>

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PMS_PRODUCT_CATEGORY (PARENT_ID,
                                          NAME,
                                          LEVEL,
                                          PRODUCT_COUNT,
                                          PRODUCT_UNIT,
                                          NAV_STATUS,
                                          SHOW_STATUS,
                                          SORT,
                                          ICON,
                                          KEYWORDS,
                                          DESCRIPTION)
        VALUES (#{parentId},
                #{name},
                #{level},
                #{productCount},
                #{productUnit},
                #{navStatus},
                #{showStatus},
                #{sort},
                #{icon},
                #{keywords},
                #{description});
    </insert>

    <update id="updateById" parameterType="map">
        UPDATE PMS_PRODUCT_CATEGORY SET
        <if test="null != pmsProductCategory.name and ''!= pmsProductCategory.name">
            name = #{pmsProductCategory.name, jdbcType=VARCHAR}
        </if>
        WHERE ID = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM PMS_PRODUCT_CATEGORY WHERE ID = #{id}
    </delete>

</mapper>